{% extends "layout.html" %}

{% block title %}
    Compound Namer
{% endblock %}

{% block body %}
    <div class="my-auto mx-auto" style="width: 90%;">
        <form action="/name" class="d-flex justify-content-center mb-3" method="post">
            <input name="compound" placeholder="CO2" required type="text">
            <button class="btn btn-warning" type="submit"><i class="bi bi-radioactive"></i></button>
        </form>
        {% if compound_name is defined %}
            <div class="text-center">{{ compound_name }}</div>
        {% endif %}
    </div>
{% endblock %}
